<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />  -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="贵州蔬菜集团">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="layoutmode" content="standard">
    <meta name="nightmode" content="disable">
    <meta name="imagemode" content="force">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="default">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script>
        var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
        // document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')
        document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')

    </script>
    <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
    <link rel="icon" href="./static/logo.png">
</head>

<body>
    <noscript>
        <strong>Please enable JavaScript to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>